<div class="card-header {{bgcolor}} {{textcolor}} py-1 myflexrules">
    At {{formatDate created_at}} {{user.username}} said:
    {{!-- <p class="btn btn-block {{bgcolor}} font-weight-bold text-left {{textcolor}} px-0 mx-0">At {{formatDate created_at}} {{user.username}} said:</p> --}}
    {{!-- <a href="/post/{{id}}" class=" btn btn-block {{bgcolor}} font-weight-bold text-left {{textcolor}} px-0 mx-0">{{title}}<span class="float-right">Posted by {{user.username}} on {{ formatDate created_at }}</span></a> --}}
</div>


