<div class="card-header {{bgcolor}} py-1">
    <a href="/post/{{id}}" class=" btn btn-block {{bgcolor}} font-weight-bold text-left">{{title}} <span class="float-right">Posted by {{user.username}} on {{ formatDate created_at }}</span></a>
</div>


